<!--<div class="container">

  <div class="col-12">
        <h2 class="page-header">{{titulo}}</h2>
      </div>  

    <div class="col-md-3 col-6 img-contenedor">
      <a [routerLink]="['/productos']">
        <img class="img-fluid img-portfolio img-hover mb-3" src="{{url + 'get-image/' + producto.image}}" alt="{{producto.description}}">
        </a>
      </div>
      <div class="col-md-3 col-6">
      <div class="caption">
        <h3>
          <a [routerLink]="['/productos']">{{producto.title}}</a>
        </h3>
       <div class="price-mob">U$S {{producto.price}}
            <a class="btn btn-outline-warning ml-2" [routerLink]="['/carrito']">Añade al carrito</a>
        </div>    
        <div class="clearfix"></div>
        <p class="product-block-description d-none d-md-block">{{producto.description}}</p>
      </div>
    </div>
</div>-->



<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="page-header">{{ titulo }}</h2>
    </div>
  </div>

  
  <h2 class="title-description-product mt-4">{{producto?.title}}</h2>


  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <a [routerLink]="['/productos']">
        <img class="img-fluid img-portfolio img-hover mb-3"
          src="/assets/images/jarra-leche-lechera-dibujar-latte-art-cafe-inoxidable-motta-europa-coffeetech-negra-descripcion.png"
          alt="{{ producto?.title }}" />
      </a>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 center-description-product">
      <div class="container">
        <!-- Product Price  -->
        <div class="form-group price_elem row">
          <label class="col-sm-3 col-md-3 form-control-label nopaddingtop text-white text-expanded">Price:</label>
          <div class="col-sm-8 col-md-9">
            <div class="price-mob">U$S {{ producto?.price }}</div>
          </div>
        </div>

        <div class="form-group row">
          <label for="Quantity" class="col-sm-3 col-md-3 form-control-label text-white">Quantity:</label>
          <div class="col-sm-8 col-md-9">
            <input type="number" class="qty form-control" id="input-qty" name="qty" maxlength="5" value="1" />
          </div>
        </div>

        <div class="form-group qty-select row">
          <label for="Quantity" class="col-sm-3 col-md-3 form-control-label text-white">color:</label>
          <div class="col-sm-8 col-md-9">
            <select id="206919" name="206919" class="form-control prod-options">
              <option data-variant-stock="999" data-variant-id="2478882" value="687718">Grey</option>

              <option data-variant-stock="999" data-variant-id="2478882" value="687719">Black</option>
            </select>
          </div>
        </div>

        <!-- Out of Stock -->
        <!--<div class="form-group product-stock product-out-stock row hidden">
          <label class="col-sm-3 col-md-3 form-control-label text-white">Availability:</label>
          <div class="col-sm-8 col-md-9">
            <span class="product-form-price text-white">Out of stock</span>
            <p class="text-white">
              This product has run out of stock. You may send us an inquiry
              about it.
            </p>
            <a href="/contact" class="btn btn-secondary btn-sm text-white" title="Contact Us">Contact Us</a>
            <a href="javascript:history.back()" class="btn btn-link btn-sm" title="&larr; or Continue Shopping">&larr;
              or Continue Shopping</a>
          </div>
        </div>-->

        <!-- Not Available -->
        <!--<div class="form-group product-stock product-unavailable row hidden">
          <label class="col-sm-3 col-md-3 form-control-label text-white">Availability:</label>
          <div class="col-sm-8 col-md-9">
            <span class="product-form-price text-white">Not Available</span>
            <p class="text-white">
              This product is currently unavailable. You may send us an inquiry
              about it.
            </p>
            <a href="/contact" class="btn btn-secondary btn-sm" title="Contact Us">Contact Us</a>
            <a href="javascript:history.back()" class="btn btn-link btn-sm" title="&larr; or Continue Shopping">&larr;
              or Continue Shopping</a>
          </div>
        <!--<<!--/<!--div>-->

        <!--<div class="form-group product-stock product-available row visible">
          <label class="col-sm-3 col-md-3 form-control-label"></label>
          <div class="col-sm-8 col-sm-offset-3 col-md-9 col-md-offset-3">
            <input type="submit" class="adc btn btn-primary" value="Add to Shopping Cart" />

            <a href="javascript:history.back()" class="btn btn-link btn-sm" title="Continue Shopping">&larr; Continue
              Shopping</a>
          </div>
        </div>-->

        <div class="form-group row">
          <label class="col-sm-3 col-md-3 form-control-label text-white">Descripcion:</label>
          <div class="col-sm-8 col-md-9 description">
            <p class="text-white">{{ producto?.description }}</p>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-md-3 form-control-label text-white">Details:</label>
          <div class="col-sm-9 col-md-9">
            <p class="text-white">{{ producto?.title }}</p>
          </div>
        </div>
        <div>
          <a class="btn btn-outline-warning ml-2" (click)="addToCart(producto.id)" [routerLink]="['/carrito']">Añade al carrito</a>
      </div>  
    </div>
    </div>
  </div>
</div>