<!--Slider-->
<app-slider></app-slider>
<!--First Middle Section-->
<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="assets/images/OAI27N0.jpg" alt="Taza de cafe con granos">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">{{title}}</span>
            <span class="section-heading-lower">{{subtitle}}</span>
          </h2>
          <p class="mb-3">
              {{first_paragraph}}
          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" [routerLink]="['productos']">Comprar</a>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--End First Middle Section-->
<!--Second Middle Section-->
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">{{second_title}}</span>
              <span class="section-heading-lower">{{second_subtitle}}</span>
            </h2>
            <p class="mb-0">{{second_paragraph}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--END Second Middle Section-->
<!--END Middle Home Section-->