<!--About us Section-->
<section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="/assets/images/about.jpg" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">{{title}}</span>
                <span class="section-heading-lower">{{subtitle}}</span>
              </h2>
              <p>{{paragraph}}</p>
              <p class="mb-0">Le garantizamos que caerá en la <em>lujuria</em> con nuestras mezclas decadentes desde el momento en que ingresa hasta qué termina su último sorbo. Únase a nosotros para su rutina diaria, una salida con amigos o simplemente para disfrutar de un momento a solas.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--END About us Section-->