<!--Middle Section-->
<section class="page-section">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex ml-auto rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">Mezclado a la perfección</span>
              <span class="section-heading-lower">Cafés &amp; Tés</span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="assets/images/products-01.jpg" alt="">
        <div class="product-item-description d-flex mr-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">Nos enorgullecemos de nuestro trabajo, y se nota. Cada vez que nos solicita una bebida, le garantizamos que será una experiencia que vale la pena tener. Ya sea nuestro mundialmente famoso capuchino panameño, un refrescante té de hierbas helado o algo tan simple como una taza de café negro de especialidad, volverá por más.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex mr-auto rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">Deliciosa comida</span>
              <span class="section-heading-lower">Panadería &amp; Cocina</span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="assets/images/products-02.jpg" alt="">
        <div class="product-item-description d-flex ml-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">Nuestro menú estacional ofrece deliciosos refrigerios, productos horneados e incluso comidas completas perfectas para el desayuno o el almuerzo. Siempre que sea posible, obtenemos nuestros ingredientes de granjas locales y orgánicas, junto con proveedores premium de productos especializados.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex ml-auto rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">Desde todo el mundo</span>
              <span class="section-heading-lower">Mezclas especiales a granel</span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="assets/images/products-03.jpg" alt="Cafe loco">
        <div class="product-item-description d-flex mr-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">Viajar por el mundo en busca de café de la mejor calidad es algo de lo que enorgullecerse. Cuando nos visite, siempre encontrará nuevas mezclas de todo el mundo, principalmente de regiones de América Central y del Sur. Vendemos nuestras mezclas en pequeñas y grandes cantidades a granel. Por favor visítenos en persona para más detalles.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--End Middle section-->

<!--Show products-->

<div class="container">

  <div class="row">

    <div class="col-12">
      <h2 class="page-header">{{titulo}}</h2>
    </div>   

  <div class="col-md-3 col-6 product-block img-contenedor" *ngFor="let producto of productos">
    <a [routerLink]="['/productos-descripcion', producto._id]">
        <img class="img-fluid img-portfolio img-hover mb-3" src="{{url + 'get-image/' + producto.image}}" alt="{{producto.description}}">
      </a>
    <div class="caption">
      <h3>
        <a [routerLink]="['/productos-descripcion', producto._id]">{{producto.title}}</a>
      </h3>
      <div class="price-mob">U$S {{producto.price}}
          <a class="btn btn-outline-warning ml-2" [routerLink]="['/carrito']">Añade al carrito</a>
      </div>    
      <div class="clearfix"></div>
      <p class="product-block-description d-none d-md-block greetings">{{producto.description}}</p>
    </div>

  </div>

 </div>

</div>
